* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 400px;
	margin-left: 10px;
	margin-right: 10px;
}

h1, table, .error, .ok {
	margin-top: 30px;
}

table {
	text-align: left;
}

th {
	width: 25%;
}

button, input, table, .input-group {
	width: 100%;
	margin-left: 0;
	margin-right: 0: 
}	

button {
	color: #fff;
	background-color: #003f5c;
	border: none;
	height: 30px;
}

button:hover {
	background-color: #003f5c; 
	color: #d2202f;
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}

.input-group {
	margin-top: 25px;
	margin-bottom: 25px;
}

input, button {
	border-radius: 5px;
}

input, button {	
	height: 30px;
	border: 1px solid #adb4b9;
	box-sizing: border-box; /*paddingas eis i vidu, o ne i isore*/
}

.error, .informaton {
	color: #d2202f;
}

.ok, table, h1  {
	color: #003f5c; 
}

.error, .ok {
	display: block; /*su sia taisykle spanas gali tureti margina*/
	font-size: 20px;
}

.informaton {
	padding-bottom: 10px;
}

@media screen and (max-width: 360px) {
	button {
	margin-left: 0;
	}

	.container {
		width: calc(100% - 20px);
	}
}